body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #007bff;
}

.card {
    border-radius: 15px;
}

button {
    font-size: 18px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Faz com que o conteúdo principal ocupe o máximo de espaço possível */
}

footer {
    padding: 10px;
    background-color: #f8f9fa; /* Cor de fundo opcional */
}
